.text-for-analysis-container {
    height: 20vh;
    width: 20vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

h1,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000066;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h4 {
    margin-bottom: 1rem;
}

.main-container {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-center {
    padding-top: 50px;
}

.col-footer {
    width: 15%;
}

#col1, #col2 {
    margin-left: auto;
}

.container-for-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-grow: 1;
    overflow: auto;
    width: 100%;
}

.container-for-input textarea {
    border: 1px solid darkgray;
    border-radius: 10px;
}

.news-sources-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-sources-input button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.container-for-input button {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-for-input h2, .news-sources-input h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #000066;
}

.result-wrapper {
    margin-left: 40px;
}

.container-for-result h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #000066;
}


.container-for-analysis {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.container-for-result {
    border-left: 1px solid grey;
    display: flex;
    text-align: center;
}

.container-for-result h5 {
    text-align: left !important;
}

.container-for-result button {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}


.col-footer ul {
    padding: 0;
    text-align : left !important;
}

.col-list a {
    color: white !important;
}

.home-btn a {
    color: white
}

.image-block {
    margin-bottom: 1rem;
}
