
body {
  background-color: #eee;
}

.footer {
  background-color: #6868AC;
  padding-left: 150px;
  padding-right: 150px;
  color: white !important
}

.main-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: Roboto, 'sans-serif';
  font-size: 1rem;
}




