
body {
  background-color: #eee;
}

.footer {
  background-color: #6868AC;
  padding-left: 150px;
  padding-right: 150px;
  color: white !important
}

.main-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: Roboto, 'sans-serif';
  font-size: 1rem;
}



.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container > div {
  width: 100%;
  padding: 5px 50px;
  display: flex;
  flex-direction: row;
}

.profile-container h5 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  color: #000066;
  margin-right: 2rem;
}




